cat <<EOF > .gitignore
# Ignorar bases pesadas e redundantes
*.csv
*.7z
*.zip
!docs/*.xlsx
*.npy
# Ignorar binários de compilação
convert_parquet
.venv/
# Sistema e Python
.DS_Store
EOF
__pycache__/
.ipynb_checkpoints/